@model WhereMyMoney.Models.Tbl_User

@{
    ViewData["Title"] = "Change Password";
}

<h2>@ViewData["Title"]</h2>

<form asp-controller="User" asp-action="ChangePassword" method="post" class="form-horizontal" role="form">
    <div class="form-horizontal">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Password" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Password" class="form-control" type="password"/>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
        </div>
        <hr />
        <div class="form-group">
            <label asp-for="NewPassword" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="NewPassword" class="form-control" type="password" />
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="RetypePassword" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="RetypePassword" class="form-control" type="password" />
                <span asp-validation-for="RetypePassword" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Update" class="btn btn-default" />
                <input type="button" value="Cancel" class="btn btn-default" id="cancel" />
            </div>
        </div>
        <div class="form-group">
            <span class="text-danger">@ViewBag.Message</span>
        </div>
    </div>
    <input type="hidden" asp-for="UserName" class="form-control" />
</form>

@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('input#cancel').click(function () {
                window.location = '@Url.Action("Index","Trace")'
            });
        });
    </script>
}
